body {
	padding: 40px;
	margin: auto;
	width: 1000px;
}

h1 {
	padding-bottom: 25px;
	font-size: 3em;
	font-style: italic;
}


.transport {
	float:left;
}

#osc {
	background-color: orange;
	width: 200px;
	height: 50px;
}

#playNotes, #stop, #tempo {
	float:left;
	margin: 10px 25px 0 0 ;
}

#playNotes {
	background-color: rgb(181, 255, 181);
}

#stop {
	background-color: rgb(255, 138, 138);

}


.controls {
	float: left;
	width:400px;
	padding-top: 30px;
	clear:both;
}

.controlLabel {
	font-weight: bold;
}

.highlighted {
	background-color: rgb(181, 255, 181) !important;
}

.oscFreqSelected {
	background-color: rgb(199, 199, 199);
}

button {
	height: 60px;
	width: 140px;
}

.colCounter {
	height: 7px !important;
}

.colCounterHighlighted {
	background-color: rgb(181, 255, 181) !important;
}

.pads, .padsTwo {
	padding-top: 30px;
	float: left;
	width:520px;
}

.firstCol, .secondCol, .thirdCol, .fourthCol {
	width: 120px;
	float: left;
}

.firstCol div, .secondCol div, .thirdCol div, .fourthCol div {
	width: 60px;
	height: 60px;
	border: 1px solid #999;
	margin: 10px;
}

.padsTwo #noteCol {
	height:20px;
	width:20px;
	background-color: green;
}

/* 
=========	STYLE THE SLIDERS
*/

input[type=range]{
	-webkit-appearance: none;
	padding: 4px 0 18px;
	width: 200px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/*
======	STYLE THE DRUM PADS
*/

#sp {
	width: 400px;
	float: left;
}

#sp div {
	display: inline-block;
	margin: 10px;
	width: 125px;
	height: 125px;
	background-color: gray;
}





